<!DOCTYPE html>
<html>
<head>
	<title>Department Portfolio</title>
</head>
<body>
<div class="container whole">
<div>
<h1 class="title">Welcome to the Students' Portfolio!!</h1>
<h2 class="inst">Follow the steps..</h2>
<h3 class="inst">Which of these are you?</h3>
</div>
<form class="form-style-7" name="mainform" method="GET" , action="/student">
<ul>
<li>
	<input name="student" class="button" type="submit"  value="Student">
</li>
</ul>
</form>
<form class="form-style-7" name="main" method="GET" , action="/client">
<ul>
<li>
    <button class="button" type="submit">Client</button>
</li>
</ul>
</form>
</div>
<style type="text/css">
html{
    background: #1cbb9b;
}
.title{
	text-align: center;
	font-weight: bold;
	font-size:50px;
	color:red;
}
.inst{
	text-align:center;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:200px;
}
.form-style-7{
    max-width:300px;
    margin-left:525px;
   
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;   
}


.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus 
{
}
.form-style-7 li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
</style>
</body>
</html>